@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-family: '微软雅黑';
  box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  /* Firefox */
  -webkit-box-sizing: content-box !important;
  /* Safari */
}
a {
  text-decoration: none;
}
ul li,
ol li {
  list-style: none;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
img {
  vertical-align: top;
}
input,
select,
img {
  outline: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}
a {
  cursor: pointer;
}
input {
  outline: none;
}
a,
input {
  -webkit-tap-highlight-color: transparent;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
/**************/
.show {
  display: block;
}
.hide {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.oh {
  overflow: hidden;
}
.clear {
  clear: both;
}
/**margin封装**/
/**padding封装**/
.container {
  height: 80px;
  width: 100%;
  background-color: #313131;
  z-index: 10;
}
.container .content {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
}
.container .content .logoImg {
  width: 168px;
  float: left;
  margin-top: 15px;
  margin-right: 75px;
}
.container .content .mavList {
  float: left;
  overflow: hidden;
}
.container .content .mavList li {
  width: 90px;
  text-align: center;
  float: left;
  height: 80px;
  margin-right: 45px;
}
.container .content .mavList li a {
  display: inline-block;
  line-height: 100px;
  height: 74px;
  font-size: 17px;
}
.container .content .mavList li a .txt {
  color: #ffffff;
  position: relative;
}
.container .content .mavList li .line {
  width: 0px;
  height: 0px;
  border-bottom: 6px solid #3ba8cf;
  border-radius: 3px;
  margin: 0 auto;
}
.container .content .mavList li.active a .txt {
  position: relative;
  font-size: 17px;
  color: #3ba8cf;
}
.container .content .mavList li.active .line {
  width: 100%;
  height: 0px;
  border-bottom: 6px solid #3ba8cf;
  border-radius: 3px;
  margin: 0 auto;
}
.container.acstyle {
  opacity: 1;
}
.banner .swiper-slide img {
  width: 100%;
}
.banner .swiper-button-next {
  display: none;
}
.banner .swiper-button-prev {
  display: none;
}
.yeWuBox {
  width: 1200px;
  margin: 0 auto;
  margin-top: 72px;
}
.yeWuBox .firstTit {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.yeWuBox .subTit {
  text-align: center;
}
.yeWuBox .subTit p.line {
  display: inline-block;
  width: 655px;
  border-bottom: 1px solid #B5B5B5;
}
.yeWuBox .subTit p.line span {
  display: inline-block;
  width: 187px;
  text-align: center;
  background-color: #ffffff;
  font-size: 30px;
  position: relative;
  top: 11px;
  font-weight: bold;
}
.yeWuBox .ywContent .ywList {
  overflow: hidden;
  margin-top: 40px;
}
.yeWuBox .ywContent .ywList li {
  float: left;
  margin-right: 100px;
  width: 225px;
}
.yeWuBox .ywContent .ywList li img {
  width: 100%;
  height: 153px;
}
.yeWuBox .ywContent .ywList li .ins {
  margin-top: 20px;
}
.yeWuBox .ywContent .ywList li .ins span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}
.yeWuBox .ywContent .ywList li .ins p {
  font-size: 12px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.yeWuBox .fangAn {
  margin-top: 40px;
}
.yeWuBox .fangAn .case .swiper-slide {
  text-align: center;
}
.yeWuBox #bb {
  margin-top: 40px;
}
.yeWuBox #bb ul li {
  width: 160px;
  float: left;
  text-align: center;
}
.yeWuBox #bb ul li a img {
  border: 1px solid #ddd;
}
.yeWuBox .fenzhi {
  width: 694px;
  margin: 40px auto 0 auto;
}
.yeWuBox .fenzhi ul {
  overflow: hidden;
}
.yeWuBox .fenzhi ul li {
  width: 262px;
  height: 26px;
  border: 1px solid #999999;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.yeWuBox .fenzhi ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 24px;
  cursor: auto;
}
.yeWuBox .fenzhi ul li.fzleft {
  float: left;
}
.yeWuBox .fenzhi ul li.fzright {
  float: right;
}
.aboutUs {
  width: 100%;
  height: 465px;
  background: url(../img/abooutus.png) no-repeat 0 0;
  margin-top: 40px;
}
.aboutUs .absContent {
  width: 1200px;
  margin: 0 auto;
  padding-top: 72px;
}
.aboutUs .absContent .absHandle {
  overflow: hidden;
}
.aboutUs .absContent .absHandle li {
  cursor: pointer;
  width: 150px;
  margin: 0px 75px;
  float: left;
  text-align: center;
}
.aboutUs .absContent .absHandle li .imgBox {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
}
.aboutUs .absContent .absHandle li .imgBox img {
  width: 80px;
  margin-top: 20px;
}
.aboutUs .absContent .absHandle li p {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
}
.aboutUs .absContent .absHandle li p span {
  padding: 10px 15px 13px 15px;
  background-color: transparent;
  color: #ffffff;
  display: inline-block;
  border-radius: 5px;
}
.aboutUs .absContent .absHandle li.active p span {
  background-color: #dcdcdc;
  color: #6ca2a4;
}
.aboutUs .absContent .abousIns {
  width: 100%;
  height: 198px;
  border-radius: 5px;
  background-color: #dcdcdc;
  margin-top: -3px;
  padding-top: 40px;
}
.aboutUs .absContent .abousIns p {
  text-align: left;
  text-indent: 2em;
  font-size: 14px;
  line-height: 30px;
}
.aboutUs .absContent .abousIns p .lookmore {
  padding: 6px 15px;
  background-color: #ffffff;
  border-radius: 25px;
  color: #008ed5;
}
.aboutUs .absContent .abousIns p.btn {
  margin-top: 20px;
}
.footBox {
  width: 100%;
  height: 270px;
  background-color: #313131;
}
.footBox .footContent {
  width: 1200px;
  margin: 0 auto;
}
.footBox .footContent ul {
  display: inline-block;
  float: left;
  margin-top: 44px;
}
.footBox .footContent ul li.tit {
  font-size: 14px;
  margin-bottom: 15px;
  color: #ffffff;
  float: none;
}
.footBox .footContent ul li {
  width: 200px;
  margin-bottom: 10px;
  float: none;
}
.footBox .footContent ul li a {
  font-size: 12px;
  color: #d2d2d2;
}
.footBox .footContent .ewmImg {
  float: right;
  text-align: center;
  width: 137px;
  margin-top: 10px;
}
.footBox .footContent .ewmImg span {
  font-size: 14px;
  color: #ffffff;
}
.footBox .footContent .ewmImg img {
  width: 100%;
  margin-top: 10px;
}
.footBox .footContent p.banQuan {
  padding-top: 15px;
  position: relative;
  top: 10px;
  clear: both;
  font-size: 12px;
  border-top: 1px solid #fff;
  color: #ffffff;
  text-align: center;
}
.fixedlm {
  position: fixed;
  top: 20%;
  right: 0;
}
.fixedlm ul li {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #b5b5b5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.fixedlm ul li img {
  margin-top: 10px;
  width: 40px;
}
.fixedlm ul li .topIns {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  display: none;
}
.fixedlm ul li:hover {
  background-color: #008cd6;
}
.fixedlm ul li.wx {
  position: relative;
}
.fixedlm ul li.wx .wxewm {
  width: 90px;
  position: absolute;
  top: -20px;
  left: -100px;
  display: none;
}
.fixedlm ul li.wx .wxewm img {
  width: 100%;
}
.fixedlm ul li.tel {
  position: relative;
}
.fixedlm ul li.tel .telBox {
  width: 140px;
  padding: 0 10px;
  height: 60px;
  line-height: 30px;
  position: absolute;
  top: 0px;
  left: -172px;
  border-radius: 5px;
  display: none;
  background-color: #008cd6;
  color: #ffffff;
}
.fixedlm ul li.email {
  position: relative;
}
.fixedlm ul li.email .emailBox {
  width: 140px;
  padding: 0 10px;
  height: 60px;
  line-height: 30px;
  position: absolute;
  top: 0px;
  left: -172px;
  border-radius: 5px;
  display: none;
  background-color: #008cd6;
  color: #ffffff;
}
/*开放平台页面*/
.bannerImg {
  margin: 0px auto 0 auto;
}
.bannerImg img {
  width: 100%;
}
.liuchengCon {
  margin-top: 40px;
  text-align: center;
}
.duiJieCon {
  margin: 40px auto;
}
.duiJieCon .formBox {
  width: 1044px;
  margin: auto auto;
}
.duiJieCon .formItem {
  width: 460px;
  height: 66px;
  margin-bottom: 22px;
  border: 1px solid #D2D2D2;
  float: left;
}
.duiJieCon .formItem .icon {
  display: inline-block;
  width: 68px;
  height: 100%;
  float: left;
  text-align: center;
}
.duiJieCon .formItem .icon img {
  width: 42px;
  margin-top: 12px;
}
.duiJieCon .formItem .formInput {
  width: 392px;
  float: left;
  border: none;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  color: #757575;
}
.duiJieCon .selectForm {
  position: relative;
}
.duiJieCon .selectForm .selectBox {
  cursor: pointer;
  width: 392px;
  float: left;
  border: none;
}
.duiJieCon .selectForm .selectBox .tarInner {
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  color: #757575;
}
.duiJieCon .selectForm .selectBox .foldicon {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.duiJieCon .selectForm .foldList {
  display: none;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px 0px #B5B5B5;
  border: 1px solid #D2D2D2;
  position: absolute;
  top: 66px;
  left: -1px;
  border-top: none;
  border-bottom: none;
}
.duiJieCon .selectForm .foldList ul li {
  padding: 15px 10px;
  border-bottom: 1px solid #D2D2D2;
  cursor: pointer;
  font-size: 16px;
  color: #d2d2d2;
}
.duiJieCon .selectForm .foldList ul li:hover {
  background-color: #008ed5;
}
.duiJieCon .textArea {
  width: 1044px;
}
.duiJieCon .textArea textarea {
  border: 1px solid #E2E2E2;
  width: 1014px;
  height: 226px;
  padding: 15px 15px 15px 15px;
  outline: none;
  font-size: 16px;
  color: #757575;
}
.duiJieCon .formItem.right {
  float: right;
}
.duiJieCon .btnBox {
  text-align: center;
  margin-top: 20px;
}
.duiJieCon .btnBox .submitBtn {
  padding: 10px 20px;
  border: none;
  background-color: #d2d2d2;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
}
/*运营平台*/
.systemItem {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 35px;
  background-color: #eeeeee;
  overflow: hidden;
  position: relative;
}
.systemItem .leftBox {
  width: 500px;
  float: left;
  text-align: center;
}
.systemItem .rightBox {
  width: 600px;
  float: left;
}
.systemItem .rightBox .title {
  text-align: center;
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  margin-top: 20px;
}
.systemItem .rightBox .con {
  font-size: 18px;
  line-height: 30px;
  margin-top: 40px;
  text-indent: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.systemItem .rightBox .loginBtn {
  position: absolute;
  right: 100px;
  bottom: 50px;
  padding: 12px 30px;
  border: 1px solid #333;
  color: #8c8c8c;
  background-color: transparent;
  outline: none;
}
.systemItem .rightBox .loginBtn:hover {
  background-color: #b5b5b5;
  color: #ffffff;
}
/*智慧生活*/
.zhInner {
  margin: 30px auto;
}
.zhInner ul {
  overflow: hidden;
}
.zhInner ul li {
  width: 350px;
  float: left;
  margin: 20px 25px;
  text-align: center;
  box-shadow: 0px 0px 10px 3px #ccc;
}
.zhInner ul li img {
  width: 100%;
}
.zhInner ul li h3 {
  font-size: 24px;
  color: #333333;
  margin: 14px 0;
}
.zhInner ul li p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 14px;
}
/*解决方案*/
.programe {
  margin: 30px auto;
}
.programe .leftNav {
  width: 222px;
  float: left;
}
.programe .leftNav .routerList li.title {
  width: 210;
  border-left: 12px solid #6EBA2E;
  font-size: 24px;
  color: #ffffff;
  line-height: 56px;
  background-color: #008cd6;
  font-weight: bold;
  margin-left: 0px;
}
.programe .leftNav .routerList li {
  width: 210px;
  margin-left: 12px;
  text-align: center;
  margin-bottom: 8px;
  background-color: #dcdcdc;
}
.programe .leftNav .routerList li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 42px;
  font-size: 16px;
  color: #333333;
}
.programe .leftNav .routerList li.handle.active {
  background-color: #dde7f3;
}
.programe .rightCon {
  width: 952px;
  margin-top: 48px;
  border: 1px solid #ddd;
  float: right;
  position: relative;
}
.programe .rightCon .titleCon {
  font-size: 18px;
  color: #008cd6;
  padding: 15px 20px 10px 20px;
  border: 1px solid #DCDCDC;
  border-top: 6px solid #008CD6;
  border-bottom: none;
  position: absolute;
  top: -49px;
  left: -1px;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.programe .rightCon .childrenBox {
  padding: 0px 40px;
  margin-top: 20px;
  padding-bottom: 30px;
  display: none;
}
.programe .rightCon .childrenBox p {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  text-indent: 2em;
}
.programe .rightCon .childrenBox .imgInner {
  margin: 30px 0;
  text-align: center;
}
.programe .rightCon .childrenBox .imgInner img {
  width: 100%;
}
.programe .rightCon .childrenBox.show {
  display: block;
}
.abousIns > div {
  margin: 0px 15px;
  display: none;
}
.abousIns > div.show {
  display: block;
}
/*2019-05-17新加-----关于我们*/
.enterprisePos {
  width: 1200px;
  margin: 0 auto;
  margin-top: 72px;
}
.enterprisePos .subTit {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.enterprisePos .firstTit {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.enterprisePos .con {
  font-size: 18px;
  color: #000000;
  line-height: 36px;
  text-indent: 2em;
  margin-top: 30px;
}
.enterprisePos .absIns {
  margin-top: 60px;
  margin-bottom: 100px;
}
.enterprisePos .absIns li {
  width: 253px;
  float: left;
  margin-right: 60px;
  height: 218px;
  border: 1px solid #EEEEEE;
  text-align: center;
}
.enterprisePos .absIns li img {
  position: relative;
  top: -36px;
}
.enterprisePos .absIns li span {
  display: block;
  font-size: 18px;
  color: #5abad4;
  margin-top: -20px;
  margin-bottom: 50px;
}
.enterprisePos .absIns li p {
  font-size: 18px;
  line-height: 36px;
  color: #989898;
}
.enterprisePos .absIns li:hover {
  box-shadow: 0px 0px 10px 3px #eee;
}
.enterprisePos .coreList {
  margin-top: 90px;
}
.enterprisePos .coreList li {
  width: 300px;
  float: left;
  text-align: center;
}
.enterprisePos .coreList li .rotateBox {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #6EC2D9;
  text-align: center;
}
.enterprisePos .coreList li .rotateBox img {
  height: 30px;
  margin-top: 20px;
}
.enterprisePos .coreList li .subtit {
  display: block;
  margin: 18px 0;
  font-size: 18px;
  color: #252525;
}
.enterprisePos .coreList li .line {
  display: inline-block;
  width: 43px;
  border-bottom: 1px solid #BFE4EE;
}
.enterprisePos .coreList li p {
  font-size: 16px;
  color: #989898;
  line-height: 30px;
  margin-top: 10px;
  padding: 0 30px;
}
.enterprisePos .contact {
  margin-top: 50px;
}
.enterprisePos .contact .left {
  width: 518px;
  float: left;
}
.enterprisePos .contact .left .fTit {
  font-size: 18px;
  color: #000000;
  text-align: center;
  margin: 15px 0;
}
.enterprisePos .contact .left .sTit {
  font-size: 18px;
  color: #989898;
  text-align: center;
}
.enterprisePos .contact .left .contactCon {
  height: 225px;
  margin-top: 45px;
  background: url(../img/icon-point.png) no-repeat 0 2px;
}
.enterprisePos .contact .left .contactCon ul {
  margin-left: 30px;
}
.enterprisePos .contact .left .contactCon ul li {
  font-size: 18px;
  color: #989898;
}
.enterprisePos .contact .right {
  width: 680px;
  height: 405px;
  border: 1px solid #D2D2D2;
  float: right;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
/*产品中心*/
.tabList {
  overflow: hidden;
  padding: 20px 0;
  background-color: #efefef;
}
.tabList .tList {
  width: 1200px;
  margin: 0px auto;
}
.tabList .tList li {
  width: 180px;
  float: left;
  margin-right: 24px;
  padding: 15px 0;
  font-size: 18px;
  color: #b2b2b2;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.tabList .tList li img {
  position: absolute;
  top: 58px;
  left: 33px;
  display: none;
}
.tabList .tList li.active {
  color: #ffffff;
  background-color: #5abad4;
}
.tabList .tList li.active img {
  display: block;
}
.tabCon .tabItem {
  width: 1200px;
  margin: 0px auto;
  display: none;
}
.tabCon .tabItem .titIns {
  font-size: 18px;
  color: #141414;
  text-indent: 2em;
  margin: 45px 0px 60px 0px;
  line-height: 30px;
}
.tabCon .tabItem .dataItem {
  margin-bottom: 44px;
}
.tabCon .tabItem .dataItem .title {
  margin-bottom: 42px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #018cd6;
  font-weight: bold;
}
.tabCon .tabItem .dataItem .title span {
  display: inline-block;
  width: 0;
  height: 24px;
  border: 3px solid #018CD6;
  border-radius: 3px;
  position: relative;
  top: 7px;
  margin-right: 10px;
}
.tabCon .tabItem .dataItem .yingYong {
  overflow: hidden;
}
.tabCon .tabItem .dataItem .yingYong li {
  text-align: center;
  width: 278px;
  float: left;
  margin: 0 11px;
}
.tabCon .tabItem .dataItem .yingYong li .imgSec {
  width: 100%;
  height: 162px;
  margin-bottom: 48px;
}
.tabCon .tabItem .dataItem .yingYong li .imgSec img {
  width: 100%;
  max-height: 162px;
}
.tabCon .tabItem .dataItem .yingYong li p {
  font-size: 16px;
  color: #a8a8a8;
  line-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.tabCon .tabItem .dataItem .canShuCon {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  padding: 25px 0px 0px 0px;
}
.tabCon .tabItem .dataItem .canShuCon .left {
  width: 500px;
  margin-left: 70px;
  float: left;
}
.tabCon .tabItem .dataItem .canShuCon .left ul li {
  margin-bottom: 24px;
}
.tabCon .tabItem .dataItem .canShuCon .left ul li .label {
  display: inline-block;
  width: 158px;
  font-size: 16px;
  color: #252525;
}
.tabCon .tabItem .dataItem .canShuCon .left ul li .con {
  font-size: 16px;
  color: #989898;
}
.tabCon .tabItem .dataItem .canShuCon .right {
  width: 601px;
  float: left;
}
.tabCon .tabItem .dataItem .canShuCon .right ul li {
  margin-bottom: 24px;
}
.tabCon .tabItem .dataItem .canShuCon .right ul li .label {
  display: inline-block;
  width: 158px;
  font-size: 16px;
  color: #252525;
}
.tabCon .tabItem .dataItem .canShuCon .right ul li .con {
  font-size: 16px;
  color: #989898;
}
.tabCon .tabItem .dataItem .canShuCon .bottomIns {
  margin-left: 70px;
}
.tabCon .tabItem .dataItem .canShuCon .bottomIns .label {
  float: left;
  display: inline-block;
  width: 158px;
  font-size: 16px;
  color: #252525;
}
.tabCon .tabItem .dataItem .canShuCon .bottomIns .stateIns {
  float: left;
}
.tabCon .tabItem .dataItem .canShuCon .bottomIns .stateIns li {
  margin-bottom: 24px;
  font-size: 16px;
  color: #989898;
}
.tabCon .tabItem .dataItem .teDianList {
  overflow: hidden;
}
.tabCon .tabItem .dataItem .teDianList li {
  width: 198px;
  height: 300px;
  border: 1px solid #E5E5E5;
  float: left;
  margin: 15px 20px;
  text-align: center;
}
.tabCon .tabItem .dataItem .teDianList li .imgBox {
  width: 100px;
  height: 112px;
  padding-top: 44px;
  margin: 0 auto;
  text-align: center;
}
.tabCon .tabItem .dataItem .teDianList li .imgBox img {
  width: 60px;
}
.tabCon .tabItem .dataItem .teDianList li .imgBox span.line {
  display: inline-block;
  width: 75px;
  border-bottom: 2px solid #E5E5E5;
}
.tabCon .tabItem .dataItem .teDianList li .imgBox span.line2 {
  display: block;
  width: 75px;
  margin: 40px auto;
  border-bottom: 2px solid #E5E5E5;
}
.tabCon .tabItem .dataItem .teDianList li .imgBox p {
  text-align: center;
  margin-top: 18px;
  font-size: 20px;
  color: #252525;
  margin-bottom: 2px;
}
.tabCon .tabItem .dataItem .teDianList li .wordIns {
  margin-top: 30px;
}
.tabCon .tabItem .dataItem .teDianList li .wordIns p {
  font-size: 18px;
  color: #252525;
  margin-bottom: 30px;
}
.tabCon .tabItem .dataItem .teDianList li .jsCon {
  margin-top: 30px;
  font-size: 18px;
  color: #989898;
  padding: 0px 5px;
  line-height: 30px;
  text-align: left;
}
.tabCon .tabItem .dataItem .teDianList li:hover .imgBox span.line {
  display: inline-block;
  width: 75px;
  border-bottom: 2px solid #5ABAD4;
}
.tabCon .tabItem .dataItem .teDianList li:hover .imgBox span.line2 {
  display: block;
  width: 75px;
  margin: 40px auto;
  border-bottom: 2px solid #5ABAD4;
}
.tabCon .tabItem .dataItem .jstd .jsItem {
  border: 1px solid #E5E5E5;
  margin-bottom: 35px;
  overflow: hidden;
}
.tabCon .tabItem .dataItem .jstd .jsItem .rimgCon {
  width: 495px;
  float: right;
}
.tabCon .tabItem .dataItem .jstd .jsItem .rimgCon img {
  position: relative;
  right: -3px;
}
.tabCon .tabItem .dataItem .jstd .jsItem .limgCon {
  width: 495px;
  float: left;
}
.tabCon .tabItem .dataItem .jstd .jsItem .rwordCon {
  width: 585px;
  float: right;
  font-size: 18px;
  color: #989898;
  line-height: 30px;
  margin-right: 24px;
  margin-top: 83px;
}
.tabCon .tabItem .dataItem .jstd .jsItem .rwordCon h3 {
  font-size: 24px;
  color: #252525;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.tabCon .tabItem .dataItem .jstd .jsItem .lwordCon {
  width: 585px;
  float: left;
  font-size: 18px;
  color: #989898;
  line-height: 30px;
  margin-left: 24px;
  margin-top: 83px;
}
.tabCon .tabItem .dataItem .jstd .jsItem .lwordCon h3 {
  font-size: 24px;
  color: #252525;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.tabCon .show {
  display: block;
}
